# Function in python 
# By Awais Manzoor
# Data Analyst

# Function

In [2]:
#  Positional arguments
def favorite_book(management, python):
    management = "The Alchemist"
    python = "Python Crash Course"
    """Display a favorite book"""
    print("\nFavorite Book".title())
    print(f"My favorite books are '{management}' and '{python}'")
favorite_book("The Alchemist", "Python Crash Course")

Favorite Book
My favorite books are 'The Alchemist' and 'Python Crash Course'

In [3]:
# converter function 
def converter(feet_value):
    cm_value = feet_value * 83.99
    print(feet_value, "Feet=", cm_value, "cm")
converter(14)

14 Feet= 1175.86 cm

In [8]:
# making a function  
def is_even(num):
    """ print output if number is even or odd """
    if type(num) == int:
        if num % 2 == 0:
            return "even"
        else:
            return "odd"
    else:
        return "nhi aba "  
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [5]:
# function
# function_name(input)
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [6]:
print(type.__doc__)

type(object) -> the object's type
type(name, bases, dict, **kwds) -> a new type

In [9]:
is_even('hello')

'nhi aba '

# Types of Arguments

In [10]:
# Default arg
def power(a=1,b=1):
  return a**b

In [11]:
# positional argument
power(2,3)

8

In [12]:
# keyword argument
power(b=3,a=2)

8

# *args and **kwargs

In [13]:
# making a function 
# use args for allow any value of keyword arguments 
def multiply(* args):
    product = 1
    for i in args:
        product =product * i
        print(args)
        return product
    # calling a function 
multiply(2,4)

(2, 4)

2

In [14]:
def multiply(*kwargs):
  product = 1

  for i in kwargs:
    product = product * i

  print(kwargs)
  return product

In [15]:
multiply(100,200,300,400,500)

(100, 200, 300, 400, 500)

1200000000000

In [16]:
def display(**salman):

  for (key,value) in salman.items():
    print(key,'->',value)

In [17]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

In [18]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

5
6
5

# Converter

In [19]:
def convrt(feet):
    cm = feet * 30.48
    print(feet, "feet=", cm, "cm")
convrt(1000)

1000 feet= 30480.0 cm

In [20]:
def converter(Usd_value):
    Inr_value = Usd_value * 400
    print(Usd_value, "USD =", Inr_value, "INR")
converter(13333)

13333 USD = 5333200 INR

In [21]:
# function defination it is block of satetement that perform a specific task
# reduce redendency
def cal_sum(a, b): #parameters
    """Display a sum of two numbers """
    return a + b
sum = cal_sum(2200,3300) # function call; arguments
print(sum) #output 5500

5500

In [22]:
# average of 3 numbers
def calc_avg(a,b,c):
    return (a+b+c)/3
# calculate average of 3 numbers
print(calc_avg(10,20,30))  # Output: 20.0

# other method
def calc_avg(a,b,c):
    sum = a+b+c
    avg = sum/3
    return avg
calc_avg(98, 97, 95)

20.0

96.66666666666667

In [ ]:
def multiply(x, y):
    """Return the product of x and y"""
    return x * y

x = int(input("Input a number: "))
y = int(input("Enter another number: "))

print("Result: ", multiply(x, y))

In [23]:
# Function types
# Built in and user defind

print("Hello", end="")
print("World")

HelloWorld

In [24]:
# Defalt parameters
def cal_prod(a=1,b=1):
    print(a * b)
    return a * b
# Call the function with default parameters
cal_prod(6,7)

42

42

In [25]:
cities = ['Taunsa', 'Karachi', 'Islamabd']

def print_len(list):
    print(len(list))

print_len(cities)

3

In [26]:
# in a single line printing
cities = ['Taunsa', 'Karachi', 'Islamabd']
def print_list(list):
    for item in list:
        print(item, end=" ")
print_list(cities)

Taunsa Karachi Islamabd

In [28]:
# type and id
def square(num):
  return num**2

type(square)

id(square)

2592273336736

In [29]:
# # function as argument
def func_a():
    print('inside func_a')

def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

# factorial

In [27]:
# factorial calling 
def calc_fact(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    print(fact)

calc_fact(3)

6

# Recursion

In [30]:
def show(n):
    if n == 0:
        return 0
    print(n)
    show(n-1)
show(10)

10
9
8
7
6
5
4
3
2
1

In [31]:
# Recursion is same as it is loops 
def show(n):
    if n == 0:
        return
    print(n)
    show(n-1)

show(5)

5
4
3
2
1

In [32]:
def fact(n):
    if(n == 0 or n == 1):
        return 1
    else:
        return (n-1) * n
    
print(fact(6))

30

# Lambda

In [33]:
# A lambda function is a small anonymous function.
lambda x:x**2

In [34]:
# x,y -> x+y
a = lambda x,y:x+y
a(5,2)

7

In [35]:
# check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

# Higher Order Function

In [36]:

def square(x):
  return x**2

def cube(x):
  return x**3

# HOF
def transform(f,L):
  output = []
  for i in L:
    output.append(f(i))

  print(output)

L = [1,2,3,4,5]

transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

# Map

In [37]:
# square the items of a list
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [38]:
# odd/even labelling of list items
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [39]:
# fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['gender'],users))

['male', 'male', 'female']

# Filter

In [40]:
# numbers greater than 5
L = [3,4,5,6,7]

list(filter(lambda x:x>5,L))

[6, 7]

In [41]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

# prepration of function

In [42]:
# 1 function of fav_books 
def favorite_book(title):
    return (f"One of my favorite books is {title}.")
favorite_book('Alice in Woderland')

'One of my favorite books is Alice in Woderland.'

In [43]:
# 2 using positional arguments 

def make_shirt(size, message):
    print(f"The shirt size is {size} and the message printed on it is: {message}.")

# Calling the function using positional arguments
make_shirt('Medium', 'Python is fun!')

# Calling the function using keyword arguments
make_shirt(message='Hello, World!', size='Large')

The shirt size is Medium and the message printed on it is: Python is fun!.
The shirt size is Large and the message printed on it is: Hello, World!.

In [44]:
# Write a function called describe_city().
def describe_city(city, country="Iceland"):
    print(f"{city} is in {country}")
    # Test the function with a city and a country
describe_city("Reykjavik") # use default country
describe_city("Oslo", "Norway") # use specified country
describe_city("New York", "USA")

Reykjavik is in Iceland
Oslo is in Norway
New York is in USA

In [45]:
# 04.Write a function called city_country().
def city_country(city, country):
    return f"{city},is in  {country}"
# Test the function
print(city_country("Tokyo", "Japan"))
print(city_country("Berlin", "Germany"))
print(city_country("Santiago", "Chile"))

Tokyo,is in  Japan
Berlin,is in  Germany
Santiago,is in  Chile

In [46]:
def make_car(manufacturer, model, **car_info):
    """Build a dictionary with information about a car."""
    car = {
        'manufacturer': manufacturer,
        'model': model,
    }
    car.update(car_info)
    return car

# Calling the function with additional information
car = make_car('subaru', 'outback', color='blue', tow_package=True)

# Printing the result
print(car)

{'manufacturer': 'subaru', 'model': 'outback', 'color': 'blue', 'tow_package': True}